<% if current_user %>
  <% @accounts.each do |account| %>
    <div class="account" data-id="<%=account.id%>">
      <%= account.id %> - <%= account.balance %>
    </div>
  <% end %>

  <%= form_tag("/users/#{@user.id}/accounts") do %>
    <%= submit_tag "Make a new account" %>
  <% end %>
<% else %>

  <center>
    <h4>sign up for the most awesome bank ever!</h4>

    <h3>no transaction fees, we promise</h3>
    <h5><font color="lightgrey">fine text: we steal your money<font></h5>
  </center>

<% end %>


