<!DOCTYPE html>
<html>
<head>
  <title>BlingBlingApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
      <% if current_user %>
        <div id="logout">
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to "Logout", logout_path %>
        </div>
      <% else %>

        <div id="user_nave">
          <%= form_for @user, method: :post do |f| %>
            <%= f.email_field :email, :placeholder => 'email..' %>

            <%= f.password_field :password, :placeholder => 'password..' %>

            <%= f.password_field :password_confirmation, :placeholder => 'confirm your password' %>

            <%= f.submit "Sign up" %>
          <% end %>

          <%= form_tag('/login') do %>

              <%= email_field_tag :email, nil, :placeholder => 'email..' %>

              <%= password_field_tag :password, nil, :placeholder => 'password..' %>

              <%= submit_tag "Check your bling" %>

          <% end %>
        </div>

      <% end %>
      <br />
      <center><font color="gold"><h1>PP</h1></font><font color="#575757">  <h2>Bling Bling Bank</h2></font><h1> <font color="gold">PP <br /></font><font color="green">LLLL</font></h1></center><!--HATERS GONNA HATE-->
  </div>

<%= yield %>

</body>
</html>
